<div style="background-color:#e6f2ff; padding:20px; border-radius:10px;">
<img style="float:left; margin-right:20px;" src='Figures/alinco.png' width="120"/>
<h1 style="color:#000047;">Tarea 1: Modificación de la librería de clase</h1>
<br style="clear:both"/>
</div>

<div style="border-left:4px solid #000047; padding:10px; margin-top:10px; background:#f5f5f5;">
<b>Objetivo:</b> Construir la librería de la clase con el objetivo de organizar código funciones y clases útilies durante el proceso del curso.
</div>

Tomando en cuenta la libreria creada en clase `HyAIA`, y la función de reporte de calidad de datos `dqr()`, realizar lo siguiente:

Modificar la función `dqr()` para tener lo siguiente:

In [1]:
#Importar librerias
import pandas as pd
import numpy as np

In [2]:
#Abrir archivo movie
df_movie = pd.read_csv('Data/movie_metadata.csv')
df_movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## dqr antes de la modificación de los puntos 1, 2 y 3 de la tarea uno

In [60]:
## MÉTODO PARA UN REPORTE DE CALIDAD DE DATOS 
#Método de la clase

def get_dqr(data):
    
        #% Lista de variables de la base de datos
        columns = pd.DataFrame(list(data.columns.values), columns=['Columns_Names'], 
                                index=list(data.columns.values))
    
        #Lista de tipos de datos del dataframe
        data_dtypes = pd.DataFrame(data.dtypes, columns=['Dtypes'])
        
        #Lista de valores presentes
        present_values = pd.DataFrame(data.count(), columns=['Present_values']) #Count conteo de los registos con valor
        
        #Lista de valores missing (Valores faltantes/nulos nan)
        missing_values = pd.DataFrame(data.isnull().sum(), columns=['Missing_values'])
        
        #Valores unicos de las columnas
        unique_values = pd.DataFrame(columns=['Unique_values'])
        for col in list(data.columns.values):
            unique_values.loc[col] = [data[col].nunique()]
        
        ## INFORMACIÓN ESTADÍSTICA
        # Lista de valores máximos
        max_values = pd.DataFrame(columns=['Max_values'])
        for col in list(data.columns.values):
            try:
                max_values.loc[col] = [data[col].max()]
            except:
                max_values.loc[col] = ['N/A']
            pass
        
        # Lista de valores mínimos
        min_values = pd.DataFrame(columns=['Min_values'])
        for col in list(data.columns.values):
            try:
                min_values.loc[col] = [data[col].min()]
            except:
                min_values.loc[col] = ['N/A']
            pass
        
        # Lista de valores promedio (media)
        mean_values = pd.DataFrame(columns=['Mean_values'])
        for col in list(data.columns.values):
            try:
                mean_values.loc[col] = [data[col].mean()]
            except:
                mean_values.loc[col] = ['N/A']
            pass
        
        # Lista de desviación estándar
        std_values = pd.DataFrame(columns=['Std_values'])
        for col in list(data.columns.values):
            try:
                std_values.loc[col] = [data[col].std()]
            except:
                std_values.loc[col] = ['N/A']
            pass
        
        # Percentil 25
        percentile_25 = pd.DataFrame(columns=['25%'])
        for col in list(data.columns.values):
            try:
                percentile_25.loc[col] = [data[col].quantile(0.25)]
            except:
                percentile_25.loc[col] = ['N/A']
            pass
        
        # Percentil 50 (mediana)
        percentile_50 = pd.DataFrame(columns=['50%'])
        for col in list(data.columns.values):
            try:
                percentile_50.loc[col] = [data[col].quantile(0.50)]
            except:
                percentile_50.loc[col] = ['N/A']
            pass
        
        # Percentil 75
        percentile_75 = pd.DataFrame(columns=['75%'])
        for col in list(data.columns.values):
            try:
                percentile_75.loc[col] = [data[col].quantile(0.75)]
            except:
                percentile_75.loc[col] = ['N/A']
            pass

        # Salida final
        return (
            columns
            .join(data_dtypes)
            .join(present_values)
            .join(missing_values)
            .join(unique_values)
            .join(max_values)
            .join(min_values)
            .join(mean_values)
            .join(percentile_25)
            .join(percentile_50)
            .join(percentile_75)
            .join(std_values)
        )

In [64]:
#Prueba del dqr con el df_movie
reporte_movie = get_dqr(df_movie)
reporte_movie

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Max_values,Min_values,Mean_values,25%,50%,75%,Std_values
color,color,object,5024,19,2,N/A,N/A,N/A,N/A,N/A,N/A,N/A
director_name,director_name,object,4939,104,2398,N/A,N/A,N/A,N/A,N/A,N/A,N/A
num_critic_for_reviews,num_critic_for_reviews,float64,4993,50,528,813.0,1.0,140.194272,50.0,110.0,195.0,121.601675
duration,duration,float64,5028,15,191,511.0,7.0,107.201074,93.0,103.0,118.0,25.197441
director_facebook_likes,director_facebook_likes,float64,4939,104,435,23000.0,0.0,686.509212,7.0,49.0,194.5,2813.328607
actor_3_facebook_likes,actor_3_facebook_likes,float64,5020,23,906,23000.0,0.0,645.009761,133.0,371.5,636.0,1665.041728
actor_2_name,actor_2_name,object,5030,13,3032,N/A,N/A,N/A,N/A,N/A,N/A,N/A
actor_1_facebook_likes,actor_1_facebook_likes,float64,5036,7,878,640000.0,0.0,6560.047061,614.0,988.0,11000.0,15020.75912
gross,gross,float64,4159,884,4035,760505847.0,162.0,48468407.526809,5340987.5,25517500.0,62309437.5,68452990.438753
genres,genres,object,5043,0,914,Western,Action,N/A,N/A,N/A,N/A,N/A
actor_1_name,actor_1_name,object,5036,7,2097,N/A,N/A,N/A,N/A,N/A,N/A,N/A
movie_title,movie_title,object,5043,0,4917,Æon Flux,#Horror,N/A,N/A,N/A,N/A,N/A
num_voted_users,num_voted_users,int64,5043,0,4826,1689764,5,83668.160817,8593.5,34359.0,96309.0,138485.256806
cast_total_facebook_likes,cast_total_facebook_likes,int64,5043,0,3978,656730,0,9699.063851,1411.0,3090.0,13756.5,18163.799124
actor_3_name,actor_3_name,object,5020,23,3521,N/A,N/A,N/A,N/A,N/A,N/A,N/A
facenumber_in_poster,facenumber_in_poster,float64,5030,13,19,43.0,0.0,1.371173,0.0,1.0,2.0,2.013576
plot_keywords,plot_keywords,object,4890,153,4760,N/A,N/A,N/A,N/A,N/A,N/A,N/A
movie_imdb_link,movie_imdb_link,object,5043,0,4919,http://www.imdb.com/title/tt5574490/?ref_=fn_t...,http://www.imdb.com/title/tt0006864/?ref_=fn_t...,N/A,N/A,N/A,N/A,N/A
num_user_for_reviews,num_user_for_reviews,float64,5022,21,954,5060.0,1.0,272.770808,65.0,156.0,326.0,377.982886
language,language,object,5029,14,46,N/A,N/A,N/A,N/A,N/A,N/A,N/A
country,country,object,5038,5,65,N/A,N/A,N/A,N/A,N/A,N/A,N/A
content_rating,content_rating,object,4740,303,18,N/A,N/A,N/A,N/A,N/A,N/A,N/A
budget,budget,float64,4551,492,439,12215500000.0,218.0,39752620.436388,6000000.0,20000000.0,45000000.0,206114898.448684
title_year,title_year,float64,4935,108,91,2016.0,1916.0,2002.470517,1999.0,2005.0,2011.0,12.474599
actor_2_facebook_likes,actor_2_facebook_likes,float64,5030,13,917,137000.0,0.0,1651.754473,281.0,595.0,918.0,4042.438863
imdb_score,imdb_score,float64,5043,0,78,9.5,1.6,6.442138,5.8,6.6,7.2,1.125116
aspect_ratio,aspect_ratio,float64,4714,329,22,16.0,1.18,2.220403,1.85,2.35,2.35,1.385113
movie_facebook_likes,movie_facebook_likes,int64,5043,0,876,349000,0,7525.964505,0.0,166.0,3000.0,19320.44511

In [6]:
#Dataset de paises
df_countries = pd.read_csv('Data/countries.csv', sep=';')
df_countries.head()

,alpha_2,alpha_3,area,capital,continent,currency_code,currency_name,eqivalent_fips_code,fips,geoname_id,languages,name,neighbours,numeric,phone,population,postal_code_format,postal_code_regex,tld
0,AD,AND,468.0,Andorra la Vella,EU,EUR,Euro,NaN,AN,3041565,ca,Andorra,"ES,FR",20,376,84000,AD###,^(?:AD)*(\d{3})$,.ad
1,AE,ARE,82880.0,Abu Dhabi,AS,AED,Dirham,NaN,AE,290557,"ar-AE,fa,en,hi,ur",United Arab Emirates,"SA,OM",784,971,4975593,NaN,NaN,.ae
2,AF,AFG,647500.0,Kabul,AS,AFN,Afghani,NaN,AF,1149361,"fa-AF,ps,uz-AF,tk",Afghanistan,"TM,CN,IR,TJ,PK,UZ",4,93,29121286,NaN,NaN,.af
3,AG,ATG,443.0,St. John's,NaN,XCD,Dollar,NaN,AC,3576396,en-AG,Antigua and Barbuda,NaN,28,+1-268,86754,NaN,NaN,.ag
4,AI,AIA,102.0,The Valley,NaN,XCD,Dollar,NaN,AV,3573511,en-AI,Anguilla,NaN,660,+1-264,13254,NaN,NaN,.ai

In [65]:
#Prueba del dqr con el df_countries
reporte_countries = get_dqr(df_countries)
reporte_countries

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Max_values,Min_values,Mean_values,25%,50%,75%,Std_values
alpha_2,alpha_2,object,251,1,251,N/A,N/A,N/A,N/A,N/A,N/A,N/A
alpha_3,alpha_3,object,252,0,252,ZWE,ABW,N/A,N/A,N/A,N/A,N/A
area,area,float64,252,0,248,17100000.0,0.0,595287.855913,1098.0,64894.5,362224.5,1904817.772759
capital,capital,object,246,6,244,N/A,N/A,N/A,N/A,N/A,N/A,N/A
continent,continent,object,210,42,6,N/A,N/A,N/A,N/A,N/A,N/A,N/A
currency_code,currency_code,object,251,1,155,N/A,N/A,N/A,N/A,N/A,N/A,N/A
currency_name,currency_name,object,251,1,82,N/A,N/A,N/A,N/A,N/A,N/A,N/A
eqivalent_fips_code,eqivalent_fips_code,object,1,251,1,N/A,N/A,N/A,N/A,N/A,N/A,N/A
fips,fips,object,249,3,249,N/A,N/A,N/A,N/A,N/A,N/A,N/A
geoname_id,geoname_id,int64,252,0,252,8505033,49518,2427869.984127,1163774.5,2367967.0,3478296.25,1632092.92473
languages,languages,object,249,3,246,N/A,N/A,N/A,N/A,N/A,N/A,N/A
name,name,object,252,0,252,Zimbabwe,Afghanistan,N/A,N/A,N/A,N/A,N/A
neighbours,neighbours,object,165,87,159,N/A,N/A,N/A,N/A,N/A,N/A,N/A
numeric,numeric,int64,252,0,252,894,0,434.309524,217.0,436.0,652.5,254.663139
phone,phone,object,247,5,233,N/A,N/A,N/A,N/A,N/A,N/A,N/A
population,population,int64,252,0,249,1330044000,0,27276790.083333,187952.75,4268583.0,15366875.0,116412698.519382
postal_code_format,postal_code_format,object,154,98,45,N/A,N/A,N/A,N/A,N/A,N/A,N/A
postal_code_regex,postal_code_regex,object,152,100,54,N/A,N/A,N/A,N/A,N/A,N/A,N/A
tld,tld,object,250,2,248,N/A,N/A,N/A,N/A,N/A,N/A,N/A

**1.- Modificar la función dqr() para que en el reporte se agregue una columna que sea booleana para representar si una columna es categórica ('Is_categorical') ('Is_categorical' True-->col categorica, False ---> numérica)**

In [66]:
## MÉTODO PARA UN REPORTE DE CALIDAD DE DATOS 
#Método de la clase

def get_dqr(data):
    
        #% Lista de variables de la base de datos
        columns = pd.DataFrame(list(data.columns.values), columns=['Columns_Names'], 
                                index=list(data.columns.values))
    
        #Lista de tipos de datos del dataframe
        data_dtypes = pd.DataFrame(data.dtypes, columns=['Dtypes'])
        
        #Lista de valores presentes
        present_values = pd.DataFrame(data.count(), columns=['Present_values']) #Count conteo de los registos con valor
        
        #Lista de valores missing (Valores faltantes/nulos nan)
        missing_values = pd.DataFrame(data.isnull().sum(), columns=['Missing_values'])
        
        #Valores unicos de las columnas
        unique_values = pd.DataFrame(columns=['Unique_values'])
        for col in list(data.columns.values):
            unique_values.loc[col] = [data[col].nunique()]
        
        ## INFORMACIÓN ESTADÍSTICA
        # Lista de valores máximos
        max_values = pd.DataFrame(columns=['Max_values'])
        for col in list(data.columns.values):
            try:
                max_values.loc[col] = [data[col].max()]
            except:
                max_values.loc[col] = ['N/A']
            pass
        
        # Lista de valores mínimos
        min_values = pd.DataFrame(columns=['Min_values'])
        for col in list(data.columns.values):
            try:
                min_values.loc[col] = [data[col].min()]
            except:
                min_values.loc[col] = ['N/A']
            pass
        
        # Lista de valores promedio (media)
        mean_values = pd.DataFrame(columns=['Mean_values'])
        for col in list(data.columns.values):
            try:
                mean_values.loc[col] = [data[col].mean()]
            except:
                mean_values.loc[col] = ['N/A']
            pass
        
        # Lista de desviación estándar
        std_values = pd.DataFrame(columns=['Std_values'])
        for col in list(data.columns.values):
            try:
                std_values.loc[col] = [data[col].std()]
            except:
                std_values.loc[col] = ['N/A']
            pass
        
        # Percentil 25
        percentile_25 = pd.DataFrame(columns=['25%'])
        for col in list(data.columns.values):
            try:
                percentile_25.loc[col] = [data[col].quantile(0.25)]
            except:
                percentile_25.loc[col] = ['N/A']
            pass
        
        # Percentil 50 (mediana)
        percentile_50 = pd.DataFrame(columns=['50%'])
        for col in list(data.columns.values):
            try:
                percentile_50.loc[col] = [data[col].quantile(0.50)]
            except:
                percentile_50.loc[col] = ['N/A']
            pass
        
        # Percentil 75
        percentile_75 = pd.DataFrame(columns=['75%'])
        for col in list(data.columns.values):
            try:
                percentile_75.loc[col] = [data[col].quantile(0.75)]
            except:
                percentile_75.loc[col] = ['N/A']
            pass

        # Columna booleana: (Categórica)
        is_categorical = pd.DataFrame(columns=['Is_categorical'])
        for col in list(data.columns.values):
            if data[col].dtype == 'object':
                is_categorical.loc[col] = [True]
            else:
                is_categorical.loc[col] = [False]

        # Salida final
        return (
            columns
            .join(data_dtypes)
            .join(present_values)
            .join(missing_values)
            .join(unique_values)
            .join(max_values)
            .join(min_values)
            .join(mean_values)
            .join(percentile_25)
            .join(percentile_50)
            .join(percentile_75)
            .join(std_values)
            .join(is_categorical)
        )

In [68]:
#Prueba del dqr con el df_movie
reporte_movie = get_dqr(df_movie)
reporte_movie.head()

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Max_values,Min_values,Mean_values,25%,50%,75%,Std_values,Is_categorical
color,color,object,5024,19,2,N/A,N/A,N/A,N/A,N/A,N/A,N/A,True
director_name,director_name,object,4939,104,2398,N/A,N/A,N/A,N/A,N/A,N/A,N/A,True
num_critic_for_reviews,num_critic_for_reviews,float64,4993,50,528,813.0,1.0,140.194272,50.0,110.0,195.0,121.601675,False
duration,duration,float64,5028,15,191,511.0,7.0,107.201074,93.0,103.0,118.0,25.197441,False
director_facebook_likes,director_facebook_likes,float64,4939,104,435,23000.0,0.0,686.509212,7.0,49.0,194.5,2813.328607,False

**2.- Modificar la función dqr() para que en el reporte se agregue una columna con las categorías de las columnas (valores unicos) que resulten ser categóricas (si las categorias > 10, no agregar esas categorias)**

In [69]:
## MÉTODO PARA UN REPORTE DE CALIDAD DE DATOS 
#Método de la clase

def get_dqr(data):
    
        #% Lista de variables de la base de datos
        columns = pd.DataFrame(list(data.columns.values), columns=['Columns_Names'], 
                                index=list(data.columns.values))
    
        #Lista de tipos de datos del dataframe
        data_dtypes = pd.DataFrame(data.dtypes, columns=['Dtypes'])
        
        #Lista de valores presentes
        present_values = pd.DataFrame(data.count(), columns=['Present_values']) #Count conteo de los registos con valor
        
        #Lista de valores missing (Valores faltantes/nulos nan)
        missing_values = pd.DataFrame(data.isnull().sum(), columns=['Missing_values'])
        
        #Valores unicos de las columnas
        unique_values = pd.DataFrame(columns=['Unique_values'])
        for col in list(data.columns.values):
            unique_values.loc[col] = [data[col].nunique()]
        
        ## INFORMACIÓN ESTADÍSTICA
        # Lista de valores máximos
        max_values = pd.DataFrame(columns=['Max_values'])
        for col in list(data.columns.values):
            try:
                max_values.loc[col] = [data[col].max()]
            except:
                max_values.loc[col] = ['N/A']
            pass
        
        # Lista de valores mínimos
        min_values = pd.DataFrame(columns=['Min_values'])
        for col in list(data.columns.values):
            try:
                min_values.loc[col] = [data[col].min()]
            except:
                min_values.loc[col] = ['N/A']
            pass
        
        # Lista de valores promedio (media)
        mean_values = pd.DataFrame(columns=['Mean_values'])
        for col in list(data.columns.values):
            try:
                mean_values.loc[col] = [data[col].mean()]
            except:
                mean_values.loc[col] = ['N/A']
            pass
        
        # Lista de desviación estándar
        std_values = pd.DataFrame(columns=['Std_values'])
        for col in list(data.columns.values):
            try:
                std_values.loc[col] = [data[col].std()]
            except:
                std_values.loc[col] = ['N/A']
            pass
        
        # Percentil 25
        percentile_25 = pd.DataFrame(columns=['25%'])
        for col in list(data.columns.values):
            try:
                percentile_25.loc[col] = [data[col].quantile(0.25)]
            except:
                percentile_25.loc[col] = ['N/A']
            pass
        
        # Percentil 50 (mediana)
        percentile_50 = pd.DataFrame(columns=['50%'])
        for col in list(data.columns.values):
            try:
                percentile_50.loc[col] = [data[col].quantile(0.50)]
            except:
                percentile_50.loc[col] = ['N/A']
            pass
        
        # Percentil 75
        percentile_75 = pd.DataFrame(columns=['75%'])
        for col in list(data.columns.values):
            try:
                percentile_75.loc[col] = [data[col].quantile(0.75)]
            except:
                percentile_75.loc[col] = ['N/A']
            pass
            

        # Columna booleana: (Categórica)
        is_categorical = pd.DataFrame(columns=['Is_categorical'])
        for col in list(data.columns.values):
            if data[col].dtype == 'object':
                is_categorical.loc[col] = [True]
            else:
                is_categorical.loc[col] = [False]
                

        # Columna: Categorías (solo si es categórica y <= 10 categorías)
        categories = pd.DataFrame(columns=['Categories'])
        for col in list(data.columns.values):
            if data[col].dtype == 'object':
                uniques = data[col].dropna().unique()
                if len(uniques) <= 10:
                    categories.loc[col] = [', '.join(map(str, uniques))]
                else:
                    categories.loc[col] = ['N/A']
            else:
                categories.loc[col] = ['N/A']

    

        # Salida final
        return (
            columns
            .join(data_dtypes)
            .join(present_values)
            .join(missing_values)
            .join(unique_values)
            .join(max_values)
            .join(min_values)
            .join(mean_values)
            .join(percentile_25)
            .join(percentile_50)
            .join(percentile_75)
            .join(std_values)
            .join(is_categorical)
            .join(categories)
        )

In [70]:
#Prueba del dqr con el df_movie
reporte_movie = get_dqr(df_movie)
reporte_movie.head()

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Max_values,Min_values,Mean_values,25%,50%,75%,Std_values,Is_categorical,Categories
color,color,object,5024,19,2,N/A,N/A,N/A,N/A,N/A,N/A,N/A,True,"Color, Black and White"
director_name,director_name,object,4939,104,2398,N/A,N/A,N/A,N/A,N/A,N/A,N/A,True,N/A
num_critic_for_reviews,num_critic_for_reviews,float64,4993,50,528,813.0,1.0,140.194272,50.0,110.0,195.0,121.601675,False,N/A
duration,duration,float64,5028,15,191,511.0,7.0,107.201074,93.0,103.0,118.0,25.197441,False,N/A
director_facebook_likes,director_facebook_likes,float64,4939,104,435,23000.0,0.0,686.509212,7.0,49.0,194.5,2813.328607,False,N/A

**3.- Aplicar el análisis estadístico de las columnas creadas (max, min, mean, std) solo para las columnas que sean numéricas ('Is_categorical' == False)**

In [76]:
## MÉTODO PARA UN REPORTE DE CALIDAD DE DATOS 
#Método de la clase

def get_dqr(data):
    
        #% Lista de variables de la base de datos
        columns = pd.DataFrame(list(data.columns.values), columns=['Columns_Names'], 
                                index=list(data.columns.values))  #DataFrame con los nombres de las columnas y se usan como índice.
    
        #Lista de tipos de datos del dataframe
        data_dtypes = pd.DataFrame(data.dtypes, columns=['Dtypes']) #Obtiene el tipo de dato de cada columna 
        
        #Lista de valores presentes
        present_values = pd.DataFrame(data.count(), columns=['Present_values']) #Count conteo de los registos con valor 
        
        #Lista de valores missing (Valores faltantes/nulos nan)
        missing_values = pd.DataFrame(data.isnull().sum(), columns=['Missing_values']) #Cuenta los valores faltantes.
        
        #Valores unicos de las columnas
        unique_values = pd.DataFrame(columns=['Unique_values'])
        for col in list(data.columns.values):
            unique_values.loc[col] = [data[col].nunique()] #Cuenta cuántos valores distintos tiene cada columna
        
        ## INFORMACIÓN ESTADÍSTICA

    #Columna booleana: (Categórica)
        is_categorical = pd.DataFrame(columns=['Is_categorical'])
        for col in list(data.columns.values):
            if data[col].dtype == 'object':
                is_categorical.loc[col] = [True] #True si es de tipo texto (object)
            else:
                is_categorical.loc[col] = [False] #False si es numérica
                
        # Lista de valores máximos
        max_values = pd.DataFrame(columns=['Max_values'])
        for col in list(data.columns.values):
            if is_categorical.loc[col, 'Is_categorical'] == True:
                max_values.loc[col] = ['False'] #Si es categórica pone "False"
            else:
                max_values.loc[col] = [data[col].max()] #Si es numérica calcula el máximo



        #for col in list(data.columns.values):
           # try:
               # max_values.loc[col] = [data[col].max()]
           # except:
              #  max_values.loc[col] = ['N/A']
           # pass
        
        # Lista de valores mínimos
        min_values = pd.DataFrame(columns=['Min_values'])
        for col in list(data.columns.values):
            if is_categorical.loc[col, 'Is_categorical'] == True: 
                min_values.loc[col] = ['False'] #Si es categórica pone "False"
            else:
                min_values.loc[col] = [data[col].min()] #Si es numérica calcula el mínimo

         
       # for col in list(data.columns.values):
        #    try:
         #       min_values.loc[col] = [data[col].min()]
          #  except:
           #     min_values.loc[col] = ['N/A']
            #pass
        
        # Lista de valores promedio (media)
        mean_values = pd.DataFrame(columns=['Mean_values'])
        for col in list(data.columns.values):
            if is_categorical.loc[col, 'Is_categorical'] == True:
                mean_values.loc[col] = ['False'] #Si es categórica "False"
            else:
                mean_values.loc[col] = [data[col].mean()] #Si es numérica calcula la media


        #for col in list(data.columns.values):
         #   try:
          #      mean_values.loc[col] = [data[col].mean()]
           # except:
            #    mean_values.loc[col] = ['N/A']
            #pass
        
        # Lista de desviación estándar
        std_values = pd.DataFrame(columns=['Std_values'])
        for col in list(data.columns.values):
            if is_categorical.loc[col, 'Is_categorical'] == True:
                std_values.loc[col] = ['False']
            else:
                std_values.loc[col] = [data[col].std()] #Solo para columnas numéricas calcula la desviación estándar


        #for col in list(data.columns.values):
         #   try:
          #      std_values.loc[col] = [data[col].std()]
           # except:
            #    std_values.loc[col] = ['N/A']
            #pass
        
        # Percentil 25
        percentile_25 = pd.DataFrame(columns=['25%'])
        for col in list(data.columns.values):
            try:
                percentile_25.loc[col] = [data[col].quantile(0.25)]
            except:
                percentile_25.loc[col] = ['N/A']
            pass
        
        # Percentil 50 (mediana)
        percentile_50 = pd.DataFrame(columns=['50%'])
        for col in list(data.columns.values):
            try:
                percentile_50.loc[col] = [data[col].quantile(0.50)]
            except:
                percentile_50.loc[col] = ['N/A']
            pass
        
        # Percentil 75
        percentile_75 = pd.DataFrame(columns=['75%'])
        for col in list(data.columns.values):
            try:
                percentile_75.loc[col] = [data[col].quantile(0.75)]
            except:
                percentile_75.loc[col] = ['N/A']
            pass
                
             

        # Columna: Categorías (solo si es categórica y <= 10 categorías)
        categories = pd.DataFrame(columns=['Categories'])
        for col in list(data.columns.values):
            if data[col].dtype == 'object':
                uniques = data[col].dropna().unique()
                if len(uniques) <= 10:
                    categories.loc[col] = [', '.join(map(str, uniques))]
                else:
                    categories.loc[col] = ['N/A']
            else:
                categories.loc[col] = ['N/A']

    

        # Salida final
        return (
            columns
            .join(data_dtypes)
            .join(present_values)
            .join(missing_values)
            .join(unique_values)
            .join(is_categorical)
            .join(max_values)
            .join(min_values)
            .join(mean_values)
            .join(percentile_25)
            .join(percentile_50)
            .join(percentile_75)
            .join(std_values)
            .join(categories)
        )

In [77]:
#Prueba del dqr con el df_movie
reporte_movie = get_dqr(df_movie)
reporte_movie.head()

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Is_categorical,Max_values,Min_values,Mean_values,25%,50%,75%,Std_values,Categories
color,color,object,5024,19,2,True,False,False,False,N/A,N/A,N/A,False,"Color, Black and White"
director_name,director_name,object,4939,104,2398,True,False,False,False,N/A,N/A,N/A,False,N/A
num_critic_for_reviews,num_critic_for_reviews,float64,4993,50,528,False,813.0,1.0,140.194272,50.0,110.0,195.0,121.601675,N/A
duration,duration,float64,5028,15,191,False,511.0,7.0,107.201074,93.0,103.0,118.0,25.197441,N/A
director_facebook_likes,director_facebook_likes,float64,4939,104,435,False,23000.0,0.0,686.509212,7.0,49.0,194.5,2813.328607,N/A

In [79]:
#Prueba del dqr con el df_countries
reporte_countries = get_dqr(df_countries)
reporte_countries.head()

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Is_categorical,Max_values,Min_values,Mean_values,25%,50%,75%,Std_values,Categories
alpha_2,alpha_2,object,251,1,251,True,False,False,False,N/A,N/A,N/A,False,N/A
alpha_3,alpha_3,object,252,0,252,True,False,False,False,N/A,N/A,N/A,False,N/A
area,area,float64,252,0,248,False,17100000.0,0.0,595287.855913,1098.0,64894.5,362224.5,1904817.772759,N/A
capital,capital,object,246,6,244,True,False,False,False,N/A,N/A,N/A,False,N/A
continent,continent,object,210,42,6,True,False,False,False,N/A,N/A,N/A,False,"EU, AS, AF, AN, SA, OC"

## PRUEBA FINAL CON dqr Y LIBRERIA HyAIA

In [4]:
from HyAIA import HyAIA as hia

In [7]:
hia_countries = hia(df_countries)
hia_countries.df_dqr

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Is_categorical,Max_values,Min_values,Mean_values,25%,50%,75%,Std_values,Categories
alpha_2,alpha_2,object,251,1,251,True,False,False,False,N/A,N/A,N/A,False,N/A
alpha_3,alpha_3,object,252,0,252,True,False,False,False,N/A,N/A,N/A,False,N/A
area,area,float64,252,0,248,False,17100000.0,0.0,595287.855913,1098.0,64894.5,362224.5,1904817.772759,N/A
capital,capital,object,246,6,244,True,False,False,False,N/A,N/A,N/A,False,N/A
continent,continent,object,210,42,6,True,False,False,False,N/A,N/A,N/A,False,"EU, AS, AF, AN, SA, OC"
currency_code,currency_code,object,251,1,155,True,False,False,False,N/A,N/A,N/A,False,N/A
currency_name,currency_name,object,251,1,82,True,False,False,False,N/A,N/A,N/A,False,N/A
eqivalent_fips_code,eqivalent_fips_code,object,1,251,1,True,False,False,False,N/A,N/A,N/A,False,FI
fips,fips,object,249,3,249,True,False,False,False,N/A,N/A,N/A,False,N/A
geoname_id,geoname_id,int64,252,0,252,False,8505033,49518,2427869.984127,1163774.5,2367967.0,3478296.25,1632092.92473,N/A
languages,languages,object,249,3,246,True,False,False,False,N/A,N/A,N/A,False,N/A
name,name,object,252,0,252,True,False,False,False,N/A,N/A,N/A,False,N/A
neighbours,neighbours,object,165,87,159,True,False,False,False,N/A,N/A,N/A,False,N/A
numeric,numeric,int64,252,0,252,False,894,0,434.309524,217.0,436.0,652.5,254.663139,N/A
phone,phone,object,247,5,233,True,False,False,False,N/A,N/A,N/A,False,N/A
population,population,int64,252,0,249,False,1330044000,0,27276790.083333,187952.75,4268583.0,15366875.0,116412698.519382,N/A
postal_code_format,postal_code_format,object,154,98,45,True,False,False,False,N/A,N/A,N/A,False,N/A
postal_code_regex,postal_code_regex,object,152,100,54,True,False,False,False,N/A,N/A,N/A,False,N/A
tld,tld,object,250,2,248,True,False,False,False,N/A,N/A,N/A,False,N/A

In [8]:
hia_movie = hia(df_movie)
hia_movie.df_dqr

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Is_categorical,Max_values,Min_values,Mean_values,25%,50%,75%,Std_values,Categories
color,color,object,5024,19,2,True,False,False,False,N/A,N/A,N/A,False,"Color, Black and White"
director_name,director_name,object,4939,104,2398,True,False,False,False,N/A,N/A,N/A,False,N/A
num_critic_for_reviews,num_critic_for_reviews,float64,4993,50,528,False,813.0,1.0,140.194272,50.0,110.0,195.0,121.601675,N/A
duration,duration,float64,5028,15,191,False,511.0,7.0,107.201074,93.0,103.0,118.0,25.197441,N/A
director_facebook_likes,director_facebook_likes,float64,4939,104,435,False,23000.0,0.0,686.509212,7.0,49.0,194.5,2813.328607,N/A
actor_3_facebook_likes,actor_3_facebook_likes,float64,5020,23,906,False,23000.0,0.0,645.009761,133.0,371.5,636.0,1665.041728,N/A
actor_2_name,actor_2_name,object,5030,13,3032,True,False,False,False,N/A,N/A,N/A,False,N/A
actor_1_facebook_likes,actor_1_facebook_likes,float64,5036,7,878,False,640000.0,0.0,6560.047061,614.0,988.0,11000.0,15020.75912,N/A
gross,gross,float64,4159,884,4035,False,760505847.0,162.0,48468407.526809,5340987.5,25517500.0,62309437.5,68452990.438753,N/A
genres,genres,object,5043,0,914,True,False,False,False,N/A,N/A,N/A,False,N/A
actor_1_name,actor_1_name,object,5036,7,2097,True,False,False,False,N/A,N/A,N/A,False,N/A
movie_title,movie_title,object,5043,0,4917,True,False,False,False,N/A,N/A,N/A,False,N/A
num_voted_users,num_voted_users,int64,5043,0,4826,False,1689764,5,83668.160817,8593.5,34359.0,96309.0,138485.256806,N/A
cast_total_facebook_likes,cast_total_facebook_likes,int64,5043,0,3978,False,656730,0,9699.063851,1411.0,3090.0,13756.5,18163.799124,N/A
actor_3_name,actor_3_name,object,5020,23,3521,True,False,False,False,N/A,N/A,N/A,False,N/A
facenumber_in_poster,facenumber_in_poster,float64,5030,13,19,False,43.0,0.0,1.371173,0.0,1.0,2.0,2.013576,N/A
plot_keywords,plot_keywords,object,4890,153,4760,True,False,False,False,N/A,N/A,N/A,False,N/A
movie_imdb_link,movie_imdb_link,object,5043,0,4919,True,False,False,False,N/A,N/A,N/A,False,N/A
num_user_for_reviews,num_user_for_reviews,float64,5022,21,954,False,5060.0,1.0,272.770808,65.0,156.0,326.0,377.982886,N/A
language,language,object,5029,14,46,True,False,False,False,N/A,N/A,N/A,False,N/A
country,country,object,5038,5,65,True,False,False,False,N/A,N/A,N/A,False,N/A
content_rating,content_rating,object,4740,303,18,True,False,False,False,N/A,N/A,N/A,False,N/A
budget,budget,float64,4551,492,439,False,12215500000.0,218.0,39752620.436388,6000000.0,20000000.0,45000000.0,206114898.448684,N/A
title_year,title_year,float64,4935,108,91,False,2016.0,1916.0,2002.470517,1999.0,2005.0,2011.0,12.474599,N/A
actor_2_facebook_likes,actor_2_facebook_likes,float64,5030,13,917,False,137000.0,0.0,1651.754473,281.0,595.0,918.0,4042.438863,N/A
imdb_score,imdb_score,float64,5043,0,78,False,9.5,1.6,6.442138,5.8,6.6,7.2,1.125116,N/A
aspect_ratio,aspect_ratio,float64,4714,329,22,False,16.0,1.18,2.220403,1.85,2.35,2.35,1.385113,N/A
movie_facebook_likes,movie_facebook_likes,int64,5043,0,876,False,349000,0,7525.964505,0.0,166.0,3000.0,19320.44511,N/A