<div style="background-color:#e6f2ff; padding:20px; border-radius:10px;">
<img style="float:left; margin-right:20px;" src='Figures/alinco.png' width="120"/>
<h1 style="color:#000047;">Tarea 1: Modificación de la librería de clase</h1>
<br style="clear:both"/>
</div>

<div style="border-left:4px solid #000047; padding:10px; margin-top:10px; background:#f5f5f5;">
<b>Objetivo:</b> Construir la librería de la clase con el objetivo de organizar código funciones y clases útilies durante el proceso del curso.
</div>

Tomando en cuenta la libreria creada en clase `HyAIA`, y la función de reporte de calidad de datos `dqr()`, realizar lo siguiente:

Modificar la función `dqr()` para tener lo siguiente:

**1.- Modificar la función dqr() para que en el reporte se agregue una columna que sea booleana boolena para representar si una columna es categórica ('Is_categorical') ('Is_categorical' True-->col categorica, False ---> numérica)**

In [2]:
from HyAIA import HyAIA
import pandas as pd

df = pd.read_csv("datos.csv")

h = HyAIA(df)

reporte = h.dqr()
reporte

,tipo_dato,nulos_total,porcentaje_nulos,is_categorical,categories,max,min,mean,std
nombre,object,0,0.0,True,"[Ana, Luis, María, Pedro, Sofía]",NaN,NaN,NaN,NaN
edad,int64,0,0.0,False,None,19.0,17.0,17.80,0.836660
grado,object,0,0.0,True,"[5A, 5B]",NaN,NaN,NaN,NaN
promedio,float64,0,0.0,False,None,9.3,7.8,8.54,0.658027

   column   dtype  Is_categorical Categories  max  min  mean  std
0    Edad   int64           False       None  NaN  NaN   NaN  NaN
1  Ciudad  object            True     [A, B]  NaN  NaN   NaN  NaN
2   Datos  object            True  [x, y, z]  NaN  NaN   NaN  NaN

**2.- Modificar la función dqr() para que en el reporte se agregue una columna con las categorías de las columnas (valores unicos) que resulten ser categóricas (si las categorias > 10, no agregar esas categorias)**

In [8]:
import pandas as pd
from HyAIA import HyAIA 

df = pd.read_csv("datos.csv")
h = HyAIA(df)
reporte = h.dqr()
reporte

,tipo_dato,nulos_total,porcentaje_nulos,is_categorical,categories,max,min,mean,std
nombre,object,0,0.0,True,"[Ana, Luis, María, Pedro, Sofía]",NaN,NaN,NaN,NaN
edad,int64,0,0.0,False,None,19.0,17.0,17.80,0.836660
grado,object,0,0.0,True,"[5A, 5B]",NaN,NaN,NaN,NaN
promedio,float64,0,0.0,False,None,9.3,7.8,8.54,0.658027

**3.- Aplicar el análisis estadístico de las columnas creadas (max, min, mean, std) solo para las columnas que sean numéricas ('Is_categorical' == False)**

In [2]:
import pandas as pd
from HyAIA import HyAIA

df = pd.read_csv("datos.csv")

h = HyAIA(df)

reporte = h.dqr()

reporte[['is_categorical', 'max', 'min', 'mean', 'std']]

          is_categorical   max   min   mean       std
nombre              True   NaN   NaN    NaN       NaN
edad               False  19.0  17.0  17.80  0.836660
grado               True   NaN   NaN    NaN       NaN
promedio           False   9.3   7.8   8.54  0.658027