<div style="background-color:#e6f2ff; padding:20px; border-radius:10px;">
<img style="float:left; margin-right:20px;" src='Figures/alinco.png' width="120"/>
<h1 style="color:#000047;">Tarea 1: Modificación de la librería de clase</h1>
<br style="clear:both"/>
</div>

<div style="border-left:4px solid #000047; padding:10px; margin-top:10px; background:#f5f5f5;">
<b>Objetivo:</b> Construir la librería de la clase con el objetivo de organizar código funciones y clases útilies durante el proceso del curso.
</div>

Tomando en cuenta la libreria creada en clase `HyAIA`, y la función de reporte de calidad de datos `dqr()`, realizar lo siguiente:

Modificar la función `dqr()` para tener lo siguiente:

**1.- Modificar la función dqr() para que en el reporte se agregue una columna que sea booleana boolena para representar si una columna es categórica ('Is_categorical') ('Is_categorical' True-->col categorica, False ---> numérica)**

In [31]:
import pandas as pd

def dqr(df):
    """
    Genera un reporte de calidad de datos con información básica de cada columna.
    Incluye una columna booleana 'Is_categorical' que indica si la columna es categórica.
    """
    # Detectamos columnas categóricas (object o category)
    categorical_cols = df.select_dtypes(include=["object", "category"]).columns
    
    # Construimos el reporte
    reporte = pd.DataFrame({
        "Type": df.dtypes,
        "Missing_Values": df.isnull().sum(),
        "Missing_%": df.isnull().mean() * 100,
        "Unique_Values": df.nunique(),
        "Is_categorical": [col in categorical_cols for col in df.columns]
    })
    
    return reporte

In [35]:
import pandas as pd

# DataFrame de prueba
df = pd.DataFrame({
    "Edad": [10, 20, 30, None],
    "Genero": ["M", "F", "M", "F"],
    "Ingreso": [1000, 1500, None, 2000]
})

print(dqr(df))

            Type  Missing_Values  Missing_%  Unique_Values  Is_categorical
Edad     float64               1       25.0              3           False
Genero    object               0        0.0              2            True
Ingreso  float64               1       25.0              3           False

**2.- Modificar la función dqr() para que en el reporte se agregue una columna con las categorías de las columnas (valores unicos) que resulten ser categóricas (si las categorias > 10, no agregar esas categorias)**

In [29]:
import pandas as pd

def dqr(df):
    """
    Genera un reporte de calidad de datos con información básica de cada columna.
    Incluye:
    - Is_categorical: True si la columna es categórica.
    - Categories: lista de categorías si la columna es categórica y tiene <= 10 valores únicos.
    """
    # Detectamos columnas categóricas (object o category)
    categorical_cols = df.select_dtypes(include=["object", "category"]).columns

    # Construimos la lista de categorías
    categories_list = []
    for col in df.columns:
        if col in categorical_cols:
            unique_vals = df[col].dropna().unique()
            if len(unique_vals) <= 10:
                categories_list.append(list(unique_vals))
            else:
                categories_list.append("Más de 10 categorías")
        else:
            categories_list.append(None)

    # Construimos el reporte final
    reporte = pd.DataFrame({
        "Type": df.dtypes,
        "Missing_Values": df.isnull().sum(),
        "Missing_%": df.isnull().mean() * 100,
        "Unique_Values": df.nunique(),
        "Is_categorical": [col in categorical_cols for col in df.columns],
        "Categories": categories_list
    })

    return reporte

In [33]:
df = pd.DataFrame({
    "Edad": [10, 20, 30, None],
    "Genero": ["M", "F", "M", "F"],
    "Ciudad": ["Qro", "CDMX", "Qro", "MTY"],
    "Codigo": ["A1","A2","A3","A4"]
})

print(dqr(df))

                Type  Missing_Values  Missing_%  Unique_Values  Is_categorical
total_bill   float64               0        0.0            229           False
tip          float64               0        0.0            123           False
sex         category               0        0.0              2            True
smoker      category               0        0.0              2            True
day         category               0        0.0              4            True
time        category               0        0.0              2            True
size           int64               0        0.0              6           False

**3.- Aplicar el análisis estadístico de las columnas creadas (max, min, mean, std) solo para las columnas que sean numéricas ('Is_categorical' == False)**

In [21]:
import pandas as pd

def dqr(df):
    """
    Genera un reporte de calidad de datos con información básica de cada columna.
    Incluye:
    - Identificación de columnas categóricas (Is_categorical).
    - Categorías (solo si <= 10 únicas).
    - Estadísticos básicos para columnas numéricas (Min, Max, Mean, Std).
    """
    # Detectar columnas categóricas
    categorical_cols = df.select_dtypes(include=["object", "category"]).columns
    
    # Lista de categorías (solo si <= 10 únicas)
    categories_list = []
    for col in df.columns:
        if col in categorical_cols:
            unique_vals = df[col].dropna().unique()
            if len(unique_vals) <= 10:
                categories_list.append(list(unique_vals))
            else:
                categories_list.append("Más de 10 categorías")
        else:
            categories_list.append(None)

    # Estadísticos básicos para columnas numéricas
    min_list, max_list, mean_list, std_list = [], [], [], []
    for col in df.columns:
        if col not in categorical_cols:  # Es numérica
            min_list.append(df[col].min())
            max_list.append(df[col].max())
            mean_list.append(df[col].mean())
            std_list.append(df[col].std())
        else:
            min_list.append(None)
            max_list.append(None)
            mean_list.append(None)
            std_list.append(None)

    # Construcción del reporte final
    reporte = pd.DataFrame({
        "Type": df.dtypes,
        "Missing_Values": df.isnull().sum(),
        "Missing_%": df.isnull().mean() * 100,
        "Unique_Values": df.nunique(),
        "Is_categorical": [col in categorical_cols for col in df.columns],
        "Categories": categories_list,
        "Min": min_list,
        "Max": max_list,
        "Mean": mean_list,
        "Std": std_list
    })

    return reporte

In [22]:
import seaborn as sns
tips = sns.load_dataset("tips")

dqr(tips)

,Type,Missing_Values,Missing_%,Unique_Values,Is_categorical,Categories,Min,Max,Mean,Std
total_bill,float64,0,0.0,229,False,None,3.07,50.81,19.785943,8.902412
tip,float64,0,0.0,123,False,None,1.00,10.00,2.998279,1.383638
sex,category,0,0.0,2,True,"[Female, Male]",NaN,NaN,NaN,NaN
smoker,category,0,0.0,2,True,"[No, Yes]",NaN,NaN,NaN,NaN
day,category,0,0.0,4,True,"[Sun, Sat, Thur, Fri]",NaN,NaN,NaN,NaN
time,category,0,0.0,2,True,"[Dinner, Lunch]",NaN,NaN,NaN,NaN
size,int64,0,0.0,6,False,None,1.00,6.00,2.569672,0.951100