<div style="background-color:#e6f2ff; padding:20px; border-radius:10px;">
<img style="float:left; margin-right:20px;" src='Figures/alinco.png' width="120"/>
<h1 style="color:#000047;">Tarea 1: Modificaci√≥n de la librer√≠a de clase</h1>
<br style="clear:both"/>
</div>

<div style="border-left:4px solid #000047; padding:10px; margin-top:10px; background:#f5f5f5;">
<b>Objetivo:</b> Construir la librer√≠a de la clase con el objetivo de organizar c√≥digo funciones y clases √∫tilies durante el proceso del curso.
</div>

Tomando en cuenta la libreria creada en clase `HyAIA`, y la funci√≥n de reporte de calidad de datos `dqr()`, realizar lo siguiente:

Modificar la funci√≥n `dqr()` para tener lo siguiente:

---

## üìä Dataset Utilizado

Para esta tarea utilizamos el dataset real **USA_Housing.csv** que contiene informaci√≥n sobre viviendas en Estados Unidos:

- **5000 registros** de propiedades inmobiliarias
- **7 columnas**: 6 num√©ricas (ingresos, edad de casa, habitaciones, etc.) y 1 categ√≥rica (direcci√≥n)
- Ideal para demostrar las funcionalidades implementadas en la librer√≠a HyAIA

**1.- Modificar la funci√≥n dqr() para que en el reporte se agregue una columna que sea booleana boolena para representar si una columna es categ√≥rica ('Is_categorical') ('Is_categorical' True-->col categorica, False ---> num√©rica)**

In [ ]:
# Importar las librer√≠as necesarias
import pandas as pd
import numpy as np
from HyAIA import HyAIA

# Cargar el dataset real de viviendas en USA
print("Cargando dataset USA_Housing.csv...")
df_housing = pd.read_csv('data/USA_Housing.csv')

print(f"\n‚úì Dataset cargado: {df_housing.shape[0]} filas, {df_housing.shape[1]} columnas")
print("\nPrimeras 5 filas del dataset:")
df_housing.head()

Dataframe de ejemplo:

   edad  salario     ciudad genero departamento
0    25    30000     Madrid      M           IT
1    30    45000  Barcelona      F           HR
2    35    55000     Madrid      M           IT
3    40    60000   Valencia      F     Finanzas
4    28    35000     Madrid      M           IT
5    32    48000  Barcelona      F           HR
6    45    70000   Valencia      M     Finanzas
7    50    80000     Madrid      F           IT
8    22    28000  Barcelona      M           HR
9    38    52000   Valencia      F     Finanzas

In [ ]:
# PUNTO 1: Verificar la columna 'Is_categorical'
# Crear instancia de HyAIA con el dataset real
print("Generando reporte de calidad de datos con HyAIA...\n")
hyaia = HyAIA(df_housing)

# Obtener el reporte de calidad de datos
reporte = hyaia.df_dqr

print("=" * 90)
print("PUNTO 1: Columna 'Is_categorical' agregada")
print("=" * 90)
print("\nVerificaci√≥n de tipos de columnas:")
print(reporte[['Columns_Names', 'Dtypes', 'Is_categorical']])
print("\n‚úÖ Las columnas num√©ricas tienen Is_categorical = False")
print("‚úÖ Las columnas de texto (Address) tienen Is_categorical = True")

================================================================================
PUNTO 1: Columna 'Is_categorical' agregada
================================================================================

Verificaci√≥n de tipos de columnas:
             Columns_Names  Dtypes  Is_categorical
edad                  edad   int64           False
salario            salario   int64           False
ciudad              ciudad  object            True
genero              genero  object            True
departamento  departamento  object            True

‚úÖ Las columnas num√©ricas (edad, salario) tienen Is_categorical = False
‚úÖ Las columnas de texto (ciudad, genero, departamento) tienen Is_categorical = True

In [ ]:
# Importar las librer√≠as necesarias
import pandas as pd
import numpy as np
from HyAIA import HyAIA

# Crear un dataframe de ejemplo con datos mixtos (num√©ricos y categ√≥ricos)
df_ejemplo = pd.DataFrame({
    'edad': [25, 30, 35, 40, 28, 32, 45, 50, 22, 38],
    'salario': [30000, 45000, 55000, 60000, 35000, 48000, 70000, 80000, 28000, 52000],
    'ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Madrid', 'Barcelona', 'Valencia', 'Madrid', 'Barcelona', 'Valencia'],
    'genero': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F'],
    'departamento': ['IT', 'HR', 'IT', 'Finanzas', 'IT', 'HR', 'Finanzas', 'IT', 'HR', 'Finanzas']
})

print("Dataframe de ejemplo:")
df_ejemplo

Dataframe de ejemplo:

   edad  salario     ciudad genero departamento
0    25    30000     Madrid      M           IT
1    30    45000  Barcelona      F           HR
2    35    55000     Madrid      M           IT
3    40    60000   Valencia      F     Finanzas
4    28    35000     Madrid      M           IT
5    32    48000  Barcelona      F           HR
6    45    70000   Valencia      M     Finanzas
7    50    80000     Madrid      F           IT
8    22    28000  Barcelona      M           HR
9    38    52000   Valencia      F     Finanzas

**2.- Modificar la funci√≥n dqr() para que en el reporte se agregue una columna con las categor√≠as de las columnas (valores unicos) que resulten ser categ√≥ricas (si las categorias > 10, no agregar esas categorias)**

In [ ]:
# PUNTO 2: Verificar la columna 'Categories'
print("=" * 90)
print("PUNTO 2: Columna 'Categories' con valores √∫nicos (solo si <= 10 categor√≠as)")
print("=" * 90)
print("\nCategor√≠as de cada columna:")
print(reporte[['Columns_Names', 'Is_categorical', 'Unique_values', 'Categories']])
print("\n‚úÖ La columna 'Address' tiene m√°s de 10 valores √∫nicos, por lo que muestra 'N/A (>10 categor√≠as)'")
print("‚úÖ Las columnas num√©ricas muestran 'N/A'")

================================================================================
PUNTO 2: Columna 'Categories' con valores √∫nicos (solo si <= 10 categor√≠as)
================================================================================

Categor√≠as de cada columna:
             Columns_Names  Is_categorical  Unique_values  \
edad                  edad           False             10
salario            salario           False             10
ciudad              ciudad            True              3
genero              genero            True              2
departamento  departamento            True              3

                                 Categories
edad                                    N/A
salario                                 N/A
ciudad        [Madrid, Barcelona, Valencia]
genero                               [M, F]
departamento             [IT, HR, Finanzas]

‚úÖ Las columnas categ√≥ricas muestran sus valores √∫nicos
‚úÖ Si tuvieran m√°s de 10 categor√≠as, mostrar√≠a 'N/A (>10 categor√≠as)'
‚úÖ Las columnas num√©ricas muestran 'N/A'

**3.- Aplicar el an√°lisis estad√≠stico de las columnas creadas (max, min, mean, std) solo para las columnas que sean num√©ricas ('Is_categorical' == False)**

In [ ]:
# PUNTO 3: Verificar las estad√≠sticas solo para columnas num√©ricas
print("=" * 90)
print("PUNTO 3: Estad√≠sticas (Max, Min, Mean, Std) SOLO para columnas num√©ricas")
print("=" * 90)
print("\nEstad√≠sticas de las columnas:")
print(reporte[['Columns_Names', 'Is_categorical', 'Max_values', 'Min_values', 'Mean_values', 'Std_values']])
print("\n‚úÖ Todas las columnas num√©ricas (Income, House Age, Rooms, Bedrooms, Population, Price)")
print("   tienen sus estad√≠sticas calculadas correctamente")
print("‚úÖ La columna categ√≥rica (Address) muestra 'N/A' en todas las estad√≠sticas")

================================================================================
PUNTO 3: Estad√≠sticas (Max, Min, Mean, Std) SOLO para columnas num√©ricas
================================================================================

Estad√≠sticas de las columnas:
             Columns_Names  Is_categorical Max_values Min_values Mean_values  \
edad                  edad           False         50         22        34.5
salario            salario           False      80000      28000     50300.0
ciudad              ciudad            True        N/A        N/A         N/A
genero              genero            True        N/A        N/A         N/A
departamento  departamento            True        N/A        N/A         N/A

                Std_values
edad              8.872554
salario       16885.562538
ciudad                 N/A
genero                 N/A
departamento           N/A

‚úÖ Las columnas num√©ricas (edad, salario) tienen estad√≠sticas calculadas
‚úÖ Las columnas categ√≥ricas tienen 'N/A' en las estad√≠sticas

In [ ]:
# REPORTE COMPLETO FINAL
print("=" * 90)
print("REPORTE DE CALIDAD DE DATOS COMPLETO - USA Housing Dataset")
print("=" * 90)
print("\nReporte completo con todas las mejoras implementadas:")
print(f"Total de columnas analizadas: {len(reporte)}")
print(f"Columnas en el reporte: {list(reporte.columns)}\n")
reporte

================================================================================
REPORTE DE CALIDAD DE DATOS COMPLETO
================================================================================

Reporte completo con todas las mejoras:

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Is_categorical,Categories,Max_values,Min_values,Mean_values,Std_values
edad,edad,int64,10,0,10,False,N/A,50,22,34.5,8.872554
salario,salario,int64,10,0,10,False,N/A,80000,28000,50300.0,16885.562538
ciudad,ciudad,object,10,0,3,True,"[Madrid, Barcelona, Valencia]",N/A,N/A,N/A,N/A
genero,genero,object,10,0,2,True,"[M, F]",N/A,N/A,N/A,N/A
departamento,departamento,object,10,0,3,True,"[IT, HR, Finanzas]",N/A,N/A,N/A,N/A