<div style="background-color:#e6f2ff; padding:20px; border-radius:10px;">
<img style="float:left; margin-right:20px;" src='Figures/alinco.png' width="120"/>
<h1 style="color:#000047;">Tarea 1: Modificación de la librería de clase</h1>
<br style="clear:both"/>
</div>

<div style="border-left:4px solid #000047; padding:10px; margin-top:10px; background:#f5f5f5;">
<b>Objetivo:</b> Construir la librería de la clase con el objetivo de organizar código funciones y clases útilies durante el proceso del curso.
</div>

Tomando en cuenta la libreria creada en clase `HyAIA`, y la función de reporte de calidad de datos `dqr()`, realizar lo siguiente:

Modificar la función `dqr()` para tener lo siguiente:

**1.- Modificar la función dqr() para que en el reporte se agregue una columna que sea booleana boolena para representar si una columna es categórica ('Is_categorical') ('Is_categorical' True-->col categorica, False ---> numérica)**

In [ ]:
from Package_HyAIA.HyAIA import HyAIA   

import numpy as np
import pandas as pd

**2.- Modificar la función dqr() para que en el reporte se agregue una columna con las categorías de las columnas (valores unicos) que resulten ser categóricas (si las categorias > 10, no agregar esas categorias)**

In [ ]:
        #Parte de la clase HyAIA.py modificada a continuación:
        # ------------------------------------------------------------------
        # Categorías solo para columnas categóricas con <=10 valores únicos
        # ------------------------------------------------------------------
        categories = pd.DataFrame(index=self.data.columns, columns=["Categories"])

        for col in self.data.columns:
            if (col in self.categoricos_columns) and (
                unique_values.loc[col, "Unique_values"] <= 10
            ):
                cats = self.data[col].dropna().unique()
                categories.loc[col, "Categories"] = ", ".join(map(str, cats))
            else:
                categories.loc[col, "Categories"] = np.nan


        report = (
            columns.join(data_dtypes)
            .join(present_values)
            .join(missing_values)
            .join(unique_values)
            .join(is_categorical)
            .join(categories)
            .join(max_values)
            .join(min_values)
            .join(mean_values)
            .join(std_values)
        )

        return report

**3.- Aplicar el análisis estadístico de las columnas creadas (max, min, mean, std) solo para las columnas que sean numéricas ('Is_categorical' == False)**

In [4]:
df = pd.read_csv("countries.csv", sep=";")
h = HyAIA(df)
h.df_dqr.head()

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Is_categorical,Categories,Max_values,Min_values,Mean_values,Std_values
alpha_2,alpha_2,object,251,1,251,True,NaN,NaN,NaN,NaN,NaN
alpha_3,alpha_3,object,252,0,252,True,NaN,NaN,NaN,NaN,NaN
area,area,float64,252,0,248,False,NaN,17100000.0,0.0,595287.855913,1904817.772759
capital,capital,object,246,6,244,True,NaN,NaN,NaN,NaN,NaN
continent,continent,object,210,42,6,True,"EU, AS, AF, AN, SA, OC",NaN,NaN,NaN,NaN