<div style="background-color:#e6f2ff; padding:20px; border-radius:10px;">
<img style="float:left; margin-right:20px;" src='Figures/alinco.png' width="120"/>
<h1 style="color:#000047;">Tarea 1: Modificación de la librería de clase</h1>
<br style="clear:both"/>
</div>

<div style="border-left:4px solid #000047; padding:10px; margin-top:10px; background:#f5f5f5;">
<b>Objetivo:</b> Construir la librería de la clase con el objetivo de organizar código funciones y clases útilies durante el proceso del curso.
</div>

Tomando en cuenta la libreria creada en clase `HyAIA`, y la función de reporte de calidad de datos `dqr()`, realizar lo siguiente:

Modificar la función `dqr()` para tener lo siguiente:

In [ ]:
# NOTA:  Se realizó una reestructuración del método dqr de la clase HyAIA para facilitar el agregar las colmnas de esta tarea.
# Se anexa la clase en donde se muestra el código completo...

**1.- Modificar la función dqr() para que en el reporte se agregue una columna que sea booleana boolena para representar si una columna es categórica ('Is_categorical') ('Is_categorical' True-->col categorica, False ---> numérica)**

In [ ]:
# Se agregó la columna Is_categorical en el método get_dqr

# Definimos las columnas categoricas y el máximo de categorias a mostrar
cols_categoricas = set(self.categoricos_columns).union(set(self.binarios_columns))

is_categorical = pd.DataFrame(columns=['Is_categorical']) # Indica si es columna categórica

# Ciclo para completar información por columna
for col in self.data.columns:
    is_cat = col in cols_categoricas # True si la columna es categórica o binaria

    # Se especifica si la columna es categorica
    is_categorical.loc[col] = [is_cat]

**2.- Modificar la función dqr() para que en el reporte se agregue una columna con las categorías de las columnas (valores unicos) que resulten ser categóricas (si las categorias > 10, no agregar esas categorias)**

In [ ]:
# Se agregó la columna Categorical_List en el método get_dqr

# Definimos las columnas categoricas y el máximo de categorias a mostrar
cols_categoricas = set(self.categoricos_columns).union(set(self.binarios_columns))
max_categorias = 10

is_categorical = pd.DataFrame(columns=['Is_categorical']) # Indica si es columna categórica
categories_list = pd.DataFrame(columns=['Categorical_List']) # Muestra la lista de categorias si son 10 o menos

# Ciclo para completar información por columna
for col in self.data.columns:
    
    col_data = self.data[col]
    unique_count = col_data.nunique() # Se obtienen valores unicos 
    is_cat = col in cols_categoricas # True si la columna es categórica o binaria

    # Se obtiene la columna valores únicos
    unique_values.loc[col] = unique_count 

    # Se especifica si la columna es categorica
    is_categorical.loc[col] = [is_cat]

    # Se obtiene el listado de las categorías
    if is_cat:
        if unique_count <= max_categorias:
            # Si tiene 10 o menos, listamos los valores
            categories_list.loc[col] = [str(col_data.unique().tolist())] 
        else:
            # Si tiene más de 10, mostramos el total
            categories_list.loc[col] = [f'Más de {max_categorias} categorías. Total ({unique_count})']
    else:
        categories_list.loc[col] = ['N/A'] # Si no es categorica asignamos N/A

**3.- Aplicar el análisis estadístico de las columnas creadas (max, min, mean, std) solo para las columnas que sean numéricas ('Is_categorical' == False)**

In [ ]:
# Se aplica análisis para las columnas (max, min, mean y std) númericas, usando la característica Is_Categorical igual a false.

 # Definimos las columnas categoricas y el máximo de categorias a mostrar
cols_categoricas = set(self.categoricos_columns).union(set(self.binarios_columns))

# DataFrames que se llenan durante el ciclo
# --------------------------------------------
max_values = pd.DataFrame(columns=['Max_Values']) # Valor máximo
min_values = pd.DataFrame(columns=['Min_Values']) # Valor mínimo
desviacion_estandar = pd.DataFrame(columns=['Dev_Estandar']) # Desviación estándar
media = pd.DataFrame(columns=['Media']) # Madia aritmetica

# Ciclo para completar información por columna
for col in self.data.columns:
    
    is_cat = col in cols_categoricas # True si la columna es categórica o binaria
    
    # Calculamos max/min/mean/std si la columna es numérica
    try:
        if not is_cat: 
            # Es numérica, aplicamos estadística
            max_values.loc[col] = col_data.max()
            min_values.loc[col] = col_data.min()
            desviacion_estandar.loc[col] = col_data.std()
            media.loc[col] = col_data.mean()
        else: 
            # Es categórica ó binaria, asignamos N/A
            max_values.loc[col] = 'N/A'
            min_values.loc[col] = 'N/A'
            desviacion_estandar.loc[col] = 'N/A'
            media.loc[col] = 'N/A'

    except Exception:
        # Manejoamos control de errores por algún tema inesperado por el tipo de datos
        max_values.loc[col] = 'N/A'
        min_values.loc[col] = 'N/A'
        desviacion_estandar.loc[col] = 'N/A'
        media.loc[col] = 'N/A'
        pass

**4.- Ejemplo usando la clase completa.**

In [8]:
import pandas as pd
import numpy as np

dirty_df = pd.read_csv('Data/dirty_data.csv')
dirty_df.head()

   age  birth_date     marital                          people          ssn
0   24  02/12/1954     soltero                Alfonso A,guilar         6439
1   35  05/07/1958      casado               edu6ardo Castillo  689 24 9939
2   46  01-26-1956     Soltero                   jocelyn medel  306-05-2792
3   57  19xx-10-23  divorciado              VICTOR ramos _ _ _  99922a45832
4   10  02/12/0054     SOLTERO  CARLOS EDUARDO; OCHOA ARAMBULA         6439

In [10]:
import sys
import os

# Agregamos esta isntrucción para posicionarnos en raiz padre y asi poder encontrar la clase.
parent_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))

if parent_dir not in sys.path:
    sys.path.append(parent_dir)
    
from LibreriaDatos.HyAIA import HyAIA as hia

In [12]:
test_data = hia(dirty_df)
test_data.df_dqr

,Columns_Names,Dtypes,Present_Values,Missing_Values,Unique_Values,Max_Values,Min_Values,Dev_Estandar,Media,Is_categorical,Categorical_List
age,age,int64,14,0,11,69,10,18.754194,39.785714,False,N/A
birth_date,birth_date,object,14,0,6,N/A,N/A,N/A,N/A,True,"['02/12/1954', '05/07/1958', '01-26-1956', '19..."
marital,marital,object,13,1,8,N/A,N/A,N/A,N/A,True,"['soltero', 'casado', 'Soltero', 'divorciado',..."
people,people,object,14,0,14,N/A,N/A,N/A,N/A,True,Más de 10 categorías. Total (14)
ssn,ssn,object,13,1,8,N/A,N/A,N/A,N/A,True,"['6439', '689 24 9939', '306-05-2792', '99922a..."